.chat{
    flex : 2;
    border-left: 1px solid rgba(194, 194, 194, .75);
    border-right: 1px solid rgba(194, 194, 194, .75);
    display: flex;
    flex-direction: column;
    .top{
        display: flex;
        padding: 20px;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgba(194, 194, 194, .75);
        
        .user{
            display: flex;
            align-items: center;
            gap: 20px;

            img{
                width: 60px;
                height: 60px;
                border-radius: 2rem;
                object-fit: cover;
            }
            .texts{
                display: flex;
                flex-direction: column;
                gap: 5px;

                span{
                    font-size: 18px;
                    font-weight: bold;
                }
                p{
                    font-size: 14px;
                    font-weight: 300;
                    color: #e4e4e4;
                }
            }
        }
        .icons{
            display: flex;
            gap: 20px;

            img{
                cursor: pointer;
                width: 20px;
                height: 20px;
            }
        }
    }
    .middle{
        padding: 20px;
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;
        overflow: scroll;
        overflow-x: hidden;
        scrollbar-width: thin;
        scrollbar-color: rgb(255, 255, 255)  rgba(85, 91, 209, .2);
        .message{
            max-width: 70%;
            display: flex;
            flex-direction: column;            
            gap: 15px;
            img{
                width: 30px;
                height: 30px;
                border-radius: 20px;
                object-fit: cover;
            }
            &.own{
                align-self : flex-end;
                .texts{                
                    p{
                        /* background-color: #5183fe;                       */
                        background-color: #10F804;                      
                    }
                   
                }
            }  
            .texts{    
                flex: 1;   
                display: flex;
                flex-direction: column;
                gap: 5px;
                p{
                    color: black;
                    background-color: #ffffff;
                    padding: 10px;
                    border-radius: 6px;
                }
                span{
                    font-weight: 500;
                    font-size: 13px;
                    margin-top: 10px;
                    color: rgb(237, 183, 81);
                    align-self: flex-start;
                }
            }

               
            
             
        }

    }
    .bottom{
        display: flex;
        padding: 20px;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        border-top: 1px solid rgba(194, 194, 194, .75);
        margin-top: auto;

        .icons{
            display: flex;
            gap: 20px;                             
        }
        img{
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
        input{
            flex: 1;
            background-color: rgba(17, 25, 40, .5);
            border-radius: 10px;
            padding: 10px;
            border: none;
            outline: none;          
            color: white;               
        }
        input::placeholder{
            color: rgba(201, 201, 201, 0.5);
        }  
        .emoji{
            position: relative;
            .picker{
                position: absolute;
                bottom: 50px;
                left: 0;
                z-index: 99;
            }
        }

        .sendChat{
            padding: 10px 20px;
            color: rgb(255, 255, 255);
            background-color:rgb(61, 44, 251, .80);
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        
    }
}